@page
@model ChooseStudentModel
@{
}



<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10 col-sm-offset-2">
            <form method="post">
                <h4>Enter Name Of Student To Search For</h4>
                <input asp-for="Name" placeholder="Name" />
                <br />
                <button type="submit">Find</button>
            </form>
        </div>
        <hr />
    </div>

</div>